.middle-description{
    width: 49%;
    background-color: #005881;
    z-index: 99;

   h2{
    margin: 15px;
    color: white;
    font-size: 36px;
   }

   ul{
    text-align: left;
    margin: 15px;

    li{
        color: white;
    }
   }
}